<div class="sidebar">
  <img
    src="/assets/images/armoirie_burkina.jpg"
    alt="armoirie burkina"
    class="logo"
  />
   <ul>


    <li>
      <a href="#">Paramétrage</a>
      <ul>
        <li>
          <a [routerLink]="['/customer/region']" routerLinkActive="active"
            >Régions</a
          >
        </li>
        <li>
          <a [routerLink]="['/customer/province']" routerLinkActive="active"
            >Provinces</a
          >
        </li>
        <li>
          <a [routerLink]="['/customer/commune']" routerLinkActive="active"
            >Communes</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
