.guide-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.guide-content h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.guide-content h3 {
  color: #34495e;
  margin-top: 30px;
  margin-bottom: 10px;
}

.guide-content p {
  margin-bottom: 15px;
}

.texte-justifie {
  text-align: justify;
}

h1 {
  font-size: 1.5em; /* Titre principal */
  font-weight: bold;
  margin-bottom: 0.6em;
}

p {
  font-size: 1.5em; /* Titre principal */

  margin-bottom: 0.6em;
}
