<div class="guide-content">
  <h1>Guide d'utilisation de l'Application de Gestion des Sites de Pêche et d'Aquaculture   </h1>

  <p class="texte-justifie">
    Bienvenue dans le guide d'utilisation de l'Application de Gestion des Sites de Pêche et d'Aquaculture. Cette application a été conçue pour simplifier la gestion des demandes d’exploitation des sites de pêche, des demandes de création d’établissements aquacoles, des demandes de licences commerciales pour les produits de pêche et d’aquaculture, des demandes de concessions de sites de pêche et des demandes de licences de guide de pêche.
  </p>

  <p class="texte-justifie">
    Ce guide vous accompagnera pas à pas dans la découverte et l'utilisation de toutes les fonctionnalités de l'application.
  </p>

  <h1>1. Soumettre une demande</h1>
  <p class="texte-justifie">
    Sur la page d’accueil, cliquez sur le bouton “Soumettre une demande” pour accéder au formulaire. Sélectionnez ensuite le type de demandeur : personne physique ou morale, ainsi que le type de demande souhaité.
  </p>
  <p class="texte-justifie">
    Renseignez le formulaire d’identification du demandeur, puis cliquez sur “Suivant” pour charger les pièces demandées. Après avoir chargé les pièces, cliquez à nouveau sur “Suivant” pour voir le résumé des informations saisies. Enfin, cliquez sur “Envoyer” pour soumettre la demande. Une fenêtre contextuelle s’affichera pour demander confirmation. Cliquez sur “Confirmer”, puis une seconde fenêtre s’affichera avec le code de la demande, qui sera utilisé pour le suivi. Cliquez sur “J’ai noté”.
  </p>

  <h1>2. Vérification d’une demande</h1>
  <p class="texte-justifie">
    Pour vérifier une demande, cliquez sur le bouton “Vérification” et saisissez le code que vous avez noté lors de l’envoi de la demande. L’état de traitement de la demande s’affichera.
  </p>

  <h1>3. Accès au tableau de bord</h1>
  <p class="texte-justifie">
    L’administrateur doit s’identifier avant d’accéder au tableau de bord. Cliquez sur “Connexion”, puis saisissez vos identifiants pour vous connecter. Le tableau de bord présente les totaux des différents statuts des demandes. Pour voir la liste correspondante, cliquez sur le titre du statut, et une page vous présentera la liste.
  </p>

  <h1>4. Accepter ou rejeter une demande</h1>
  <p class="texte-justifie">
    Dans la section “Demandes soumises”, vous pouvez effectuer une recherche par ID ou faire défiler la liste. Cliquez sur le bouton “Détails” pour visualiser les informations fournies. Ensuite, cliquez sur “Accepter” pour approuver la demande ou sur “Rejeter” pour la refuser.
  </p>

  <h1>5. Valider une demande</h1>
  <p class="texte-justifie">
    Dans la liste des demandes acceptées, cliquez sur le bouton “Valider” correspondant à la demande que vous souhaitez valider.
  </p>

  <h1>6. Reconsidérer une demande</h1>
  <p class="texte-justifie">
    Si une demande a été rejetée par erreur, il est possible de la reconsidérer et de la renvoyer dans la liste des demandes soumises. Pour ce faire, allez dans la liste des demandes rejetées, puis cliquez sur “Reconsidérer”.
  </p>
</div>

