<div>

  <main class="main-content py-5">
    <div class="container">
      <div class="text-center mb-5">
        <img
          src="/assets/images/armoirie_burkina.jpg"
          alt="Armoirie Burkina"
          class="logo"
          height="80"
          width="80"
        />
        <h2>
          Ministère de l'Agriculture des Ressources Animales et Halieutiques
          (MARAH)
        </h2>
        <h3>Du Burkina Faso</h3>
        <h3>Gestion des attributions des sites de Pêches et d'Aquacultures</h3>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <i class="fas fa-file-alt feature-icon mb-3"></i>
          <h4>Soumettre une Demande</h4>
          <button class="btn btn-success" (click)="formulaireDemande()">
            Accéder au formulaire <i class="bi bi-arrow-right"></i>
          </button>
        </div>

        <div class="col-md-4 text-center">
          <i class="fas fa-check-circle feature-icon mb-3"></i>
          <h4>Vérifier ma Demande</h4>
          <button class="btn btn-success" (click)="verification()">
            Accéder au formulaire <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
